<div class="row bbbrow">

 <div class="col-xs-5 col-xs-offset-1 bbbblock">

 <%= image_tag "UCLA.jpg", :class=>'bbbimage'%>

 <h2 class="bbbtitle"> UCLA校园</h2>

 <h4 class="bbbtitle1">(University of California, Los Angeles)</h4>

 <p class="bbbtext">加利福尼亚大学洛杉矶分校(简称UCLA)是美国最顶尖的综合性公立大

学之一。UCLA是美国商业金融、高科技产业、电影艺术等专业人才的摇篮,是美国申请就读

人数最多的大学。它和加州大学伯克利分校(UC Berkeley)齐名,常年稳居泰晤士报全球大

学排行榜前十五名。</p> 

 </div>

<div class="col-xs-5 col-xs-offset-1 bbbblock">

 <%= image_tag "UCI.jpg", :class=>'bbbimage'%>

 <h2 class="bbbtitle"> UCI校园</h2>

 <h4 class="bbbtitle1">(University of California, Irvine)</h4>

<p class="bbbtext">加利福尼亚大学尔湾分校(UCI)建于1965年,属于世界最知名且极赋声誉

的最顶尖公立大学。名列全美公立常春藤,在2015年USNEWS 排名中位居第43,而在公立大学排

名中与伊利诺伊大学香槟分校,德克萨斯大学奥斯汀分校以及华盛顿大学不分伯仲,并列于第13位。

</p> 

 </div>

</div>

<div class="row bbbrow">

 <div class="col-xs-5 col-xs-offset-1 bbbblock">

 <%= image_tag "UCSD.jpg", :class=>'bbbimage'%>

 <h2 class="bbbtitle"> UCSD校园</h2>

 <h4 class="bbbtitle1">(University of California, San Diego)</h4>

<p class="bbbtext">成立于1959年的加州大学圣地亚哥分校(UCSD)属于加州大学系统之一,

由于环境优美,气候宜人,被评为全美“最性感”的理科学习场所。该校拥有一个占地866公

顷(约12990亩)的校园,为美国 “公立常春藤”中的顶尖者,曾产生二十位诺贝尔奖得主,在

2015美国新闻与世界报道(US News)全球顶尖大学排名中位列全球第18位 ,在2015的美国

公立大学排名中名列第7名。</p> 

 </div>

</div>