<div class="row bbbrow">

 <div class="col-xs-5 col-xs-offset-1 bbbblock">

 <%= image_tag "ge.jpg", :class=>'bbbimage'%>

 <h2 class="bbbtitle">格瑞菲斯天文台</h2>

 <h4 class="bbbtitle1">(Griffiths Observatory)</h4>

<p class="bbbtext">格瑞菲斯天文台是洛杉矶著名地标之一,这座造型独特的建筑物,曾经

出现在许多的电影与电视影集场景中。入夜以后,在这里看大洛杉矶地区,可看到一片灿烂

灯海,情调浪漫迷人。</p> 

 </div>

<div class="col-xs-5 col-xs-offset-1 bbbblock">

 <%= image_tag "gai.jpg", :class=>'bbbimage'%>

 <h2 class="bbbtitle">盖蒂中心</h2>

 <h4 class="bbbtitle1">(Getty Center)</h4>

<p class="bbbtext">鸟瞰洛杉矶全景的盖蒂中心收藏有世界著名绘画大师梵高、安格尔、拉

维尔德等的作品,不仅仅以其丰富的馆藏闻名,更值得一提的是其独特的建筑风格,为全球

建筑设计师膜拜之处。</p> 

 </div>

</div>

<div class="row bbbrow">

 <div class="col-xs-5 col-xs-offset-1 bbbblock">

 <%= image_tag "ba.jpg", :class=>'bbbimage'%>

 <h2 class="bbbtitle">巴尔博亚博物馆公园</h2>

 <h4 class="bbbtitle1">(Balboa Park)</h4>

<p class="bbbtext">位于圣地亚哥市中心北区的巴尔波亚公园建于1910年,有着“美国最大

的城市文化公园”之称,可媲美纽约的中央公园。该园是加州1915年世界博览会旧址,世博会

场馆大部分已拆除,现在有14座顶级博物馆、4个剧院、复合式运动场、玫瑰园及日式庭园等,

带着浓厚的西班牙文艺复兴时期的色彩。1977年,巴波亚公园被评定为美国国家历史地标。</p> 

 </div>

 <div class="col-xs-5 col-xs-offset-1 bbbblock">

 <%= image_tag "hang.jpg", :class=>'bbbimage'%>

 <h2 class="bbbtitle">杭廷顿图书馆</h2>

 <h4 class="bbbtitle1">(Huntington Library)</h4>

<p class="bbbtext">杭廷顿图书馆占地120英亩,原为美国铁路大亨

Henry Edwards Huntington (1850-1927) 的私人住宅,杭廷顿图书馆除了展出

Huntington本人在图书,瓷器,雕刻,名画和各艺术品方面的收藏,还拥有植物花园和大大

小小不下十個主題花园。</p> 

 </div>

</div>