<div class="row bbbrow">

<div class="col-xs-5 col-xs-offset-1 bbbblock">

 <%= image_tag "NBA.jpg", :class=>'bbbimage'%>

 <h2 class="bbbtitle"> NBA篮球赛:洛杉矶湖人队</h2>

 <h4 class="bbbtitle1">(NBA LA Lakers Game)</h4>

<p class="bbbtext">洛杉矶湖人的主场为洛杉矶市中心的斯台普斯球场,是拥有悠久而辉

煌的历史的NBA职业篮球队, 11次获得NBA总冠军,至今合共夺得16次总冠军。目前旗下

最著名的球星是科比。布莱恩特。</p> 

 </div>

 <div class="col-xs-5 col-xs-offset-1 bbbblock">

 <%= image_tag "MLB.jpg", :class=>'bbbimage'%>

 <h2 class="bbbtitle"> MLB 棒球赛</h2>

 <h4 class="bbbtitle1">(MLB Angels Game)</h4>

<p class="bbbtext">美国职棒大联盟(Major League Baseball,简称MLB),是北美地区最高水

平的职棒棒球联赛。由国家联盟和美国联盟在1902年联合成立。是美国四大职业体育联盟之一。

天使队是美国职业棒球联赛的老牌劲旅,其主场所在的城市安娜汉姆同时也是迪斯尼所在地。</

p> 

 </div>

</div>

<div class="row bbbrow">

<div class="col-xs-5 col-xs-offset-1 bbbblock">

 <%= image_tag "NFL.jpg", :class=>'bbbimage'%>

 <h2 class="bbbtitle"> NFL橄榄球赛</h2>

 <h4 class="bbbtitle1">(NFL San Diego Chargers Game)</h4>

<p class="bbbtext">国家橄榄球联盟(National Football League,NFL)是世界最大的职业美

式橄榄球联盟,世界最具商业价值的体育联盟,也是北美四大职业运动之一。圣地亚哥电光队曾

于1994年进入NFL决赛超级碗,最后惜败于旧金山队获得亚军。</p> 

 </div>

<div class="col-xs-5 col-xs-offset-1 bbbblock">

 <%= image_tag "del.jpg", :class=>'bbbimage'%>

 <h2 class="bbbtitle"> Del Mar赛马会</h2>

 <h4 class="bbbtitle1">(Del Mar Jockey Club)</h4>

<p class="bbbtext">每年七月中开赛,九月初结束。这个赛马从1937年年開跑,參賽的都是純

種的馬。而且每年開賽的時候,也會像英國賽馬一樣舉行帽子比賽。每年都会吸引上万人前来观

看。</p> 

 </div>

</div>