<div class="bblock" id="lianxifangshi" style="margin-bottom: 30px;">
  <div style="background-image: url(<%= asset_path imgName %>)" class="full-img">
    <div class="panel panel-default bpanelnocolor">
      <div class="panel-body bpanel-bodynocolor">
        <div class="col-md-6">
          <h2>联系方式</h2>
          <h4>联系电话 PHONE: (001)949.232.3256 </h4>
          <h4>电子邮件 EMAIL: enlitebridge@gmail.com</h4>
          <h4>微信账号 WECHAT: CaliforniaSunlight(昵称:加州阳光) </h4>
        </div>

      </div>
    </div>
  </div>
</div>