<div class="bblock">
  <div style="background-image: url(<%= asset_path imgName %>)" class="full-img">
    <div class="col-xs-6 col-xs-offset-3 header-block">
      <div class="panel panel-default headerpanel">
        <div class="panel-body headerpanel-body">
          <h2>
            欢迎来到<span style="font-size: 40px;">莱茵桥旅游板块</span>
            <span style="font-size:10px;">
              <%= link_to "返回首页", root_path, style: 'font-size: 17px; text-align: right;' %>
            </span>
          </h2>
          <p class="text1">茵莱桥团队本着品质第一，价格合理，客户至上的宗旨，公司团队核心成员由旅美多年的华裔精英以及道地美国人组成，对美国文化、教育、生活有切身体会和丰富经验，为您量身定制最佳行程, 让您的旅程省心、舒心、放心!</p>
        </div>
      </div>
    </div>
  </div>
</div>