<div style="width=100%;">
  <%= image_tag "blankheader.png", :style=>'width:100%;'%>
</div>

<div style="padding: 0px 100px;">
  <button type="button" class="btn btn-default bbutton">
    <%= link_to "返回首页", travel_path %>
  </button>
  <%= render 'rightnavhorizontal'%>
</div>
