<div class="bblock">
  <div style="background-image: url(<%= asset_path imgName %>)" class="full-img">
    <div class="panel panel-default bpanel">
      <div class="panel-body bpanel-body">
        <%= text %>
      </div>
    </div>
  </div>
</div>