<div class="col-md-2 bnavbar-left">
  <div class="binner-control">
    <div class="btn-group-vertical bbtn-group" role="group">
      <button type="button" class="btn btn-default bbtn">Button</button>
      <button type="button" class="btn btn-default bbtn">Button</button>
      <button type="button" class="btn btn-default bbtn">Button</button>
      <button type="button" class="btn btn-default bbtn">Button</button>
      <button type="button" class="btn btn-default bbtn">Button</button>
      <button type="button" class="btn btn-default bbtn">Button</button>
    </div>
  </div>
</div>

