<div class="col-md-2 bnavbar-left">
  <div class="binner-control">
    <div class="btn-group-vertical bbtn-group" role="group">
      <button type="button" class="btn btn-default bbtn">
        <a href="#gongsijianjie">公司简介</a>
      </button>
      <button type="button" class="btn btn-default bbtn">
        <a href="#lvyoutuandui">旅游团队</a>
      </button>
      <button type="button" class="btn btn-default bbtn">
        <a href="#dingzhilvyou">定制旅游</a>
      </button>
      <button type="button" class="btn btn-default bbtn">
        <a href="#kehupinglun">客户评价</a>
      </button>
      <button type="button" class="btn btn-default bbtn">
        <a href="#changjianwenti">常见问题</a>
      </button>
      <button type="button" class="btn btn-default bbtn">
        <a href="#lianxifangshi">联系方式</a>
      </button>
    </div>
  </div>
</div>

