<div class="bnavbar-right">

<h3>旅游类别</h3>
  <div class="btn-group" style="display: block">
    <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-expanded="false">
      选择主题 <span class="caret"></span>
    </button>
    <ul class="dropdown-menu" role="menu">
      <li><a href="#">主题公园</a></li>
      <li><a href="#">国家森林公园</a></li>
      <li><a href="#">名校校园</a></li>
      <li><a href="#">特色项目</a></li>
      <li><a href="#">体育活动</a></li>
      <li><a href="#">海滩</a></li>
      <li><a href="#">博物馆科技感</a></li>
<!--       <li class="divider"></li>
      <li><a href="#">Separated link</a></li>
 -->    </ul>
  </div>

  <p>Or</p>

  <div class="btn-group" style="display: block">
    <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-expanded="false">
      选择地区 <span class="caret"></span>
    </button>
    <ul class="dropdown-menu" role="menu">
      <li><a href="#">洛杉矶</a></li>
      <li><a href="#">橙县</a></li>
      <li><a href="#">圣地亚哥</a></li>
      <li><a href="#">旧金山/硅谷</a></li>
      <li class="divider"></li>
      <li><a href="#">优胜美地国家公园</a></li>
      <li><a href="#">纳帕酒乡</a></li>
      <li class="divider"></li>
      <li><a href="#">西雅图</a></li>
      <li><a href="#">波特兰</a></li>
      <li class="divider"></li>
      <li><a href="#">拉斯维加斯</a></li>
      <li><a href="#">大峡谷国家公园</a></li>
<!--       <li class="divider"></li>
      <li><a href="#">Separated link</a></li>
 -->    </ul>
  </div>
</div> 