<%= render 'shared/nav'%>
<%= image_tag "dingzhi.jpg", :style=>'width: 100%'%>

<div class="bblock">
  <div style="background-image: url(<%= asset_path 'kaishisirendingzhi.png' %>)" class="full-img">
    <div class="panel panel-default bpanel">
      <div class="panel-body bpanel-body" style="padding: 50px 150px; font-size: 27px;">
        <p>请有意愿参加私人定制旅游的朋友通过
          <span><a href="#lianxifangshi" style="color: #2689CC;">页面最下方</a></span>
          的联系方式与专人完成以下步骤
        </p>
        <p>步骤1: 专家一对一了解需求</p>
        <p>步骤2: 自主选择项目</p>
        <p>步骤3: 提交行程</p>
        <p>步骤4: 协商确认</p>
        <p>步骤5: 付款</p>
        <p>步骤6: 提供出行细节和相关培训</p>
        <p>步骤7: 开心出游!</p>
      </div>
    </div>
  </div>
</div>

<%= render 'shared/footer', :imgName => 'lianxifangshi.png' %>
