<%= render 'leftnav'%>
<%= render 'rightnav'%>

<%= render "block", :imgName => 'sample1.png', :text => "Lorem ipsum dolor sit amet, legimus ceteros cu sed, mea ea noster animal meliore. Choro soluta est ne, ex eum partem singulis, eu nam malis assueverit. Ne fugit ocurreret gloriatur eum. Ei alienum quaestio eum. Duo ad falli sonet deterruisset, ex omittam dissentiunt per.

  Est prima aliquid repudiandae no. Vix quod quando at. Nec audire delicata ne. Cum dicit tation possim id, usu ea oportere repudiandae. Hinc dolore nam no, ex est vocent philosophia, sumo quaerendum ex cum." %>

<%= render "block", :imgName => 'sample2.png', :text => "Lorem ipsum dolor sit amet, legimus ceteros cu sed, mea ea noster animal meliore. Choro soluta est ne, ex eum partem singulis, eu nam malis assueverit. Ne fugit ocurreret gloriatur eum. Ei alienum quaestio eum. Duo ad falli sonet deterruisset, ex omittam dissentiunt per." %>

<div class="bup">
  <span class="glyphicon glyphicon glyphicon-chevron-up" style="color:white; "aria-hidden="true"></span>
</div>
