<%= render 'shared/nav'%>
<h1 style="background-color: #34A1C4; color: white; padding: 20px 100px; border-radius: 30px; float:left; margin-left: 50px;">旅游景点及活动介绍: <%= @themes[@index]%></h1>
<%= image_tag @images[@index], :style=>'width: 100%;'%>