// Place all the styles related to the home controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
html, body{
  height: 100%;
}

.bheader{
  height: 100px;
  position: fixed;
  z-index: 1000;
  .bheader-img{
    height: 100%;
    width: 100%;
  }
}

.bnavbar-left{
  z-index:100; 
  position: fixed; 
  top: 45%;
  background-color: rgba(255, 255, 255, 0.7);
  border-radius: 39px;
  border: 5px solid #34A1C4;
  .binner-control{
    padding: 20px;
    background-color: white; 
    text-align:center;
    background-color: rgba(100, 100, 100, 0);
    .bbtn-group{
      .bbtn{
        font-size: 24px;
        color: #49C7D1 !important;
        border: none;
        background-color: rgba(100, 100, 100, 0);
      }
    }
  }
}

.bnavbar-right{
  color: #49C7D1 !important;
  border: 5px solid #34A1C4;
  z-index:10000; 
  position: fixed;
  right: 0px;
  text-align: center;
  padding: 30px;
  top: 100px;
  background-color: rgba(255, 255, 255, 0.7);
  border-radius: 39px;
  button{
    color: #49C7D1 !important;
    border-color: #49C7D1;
  }
}

.bblock{
  position:relative;
  height: 100%;
  font-size: 24px;
  .full-img{
    min-height: 100%;
    background-size: cover;
    .bpanel{
      position: absolute;
      bottom: 0px;
      margin: 0px;
      border: none;
      background-color: rgba(100, 150, 150, 0.5);
      width: 100%;
      .bpanel-body{
        line-height: 150%;
        padding: 50px 220px;
        color: white;
      }
    }
  }
}

.header-block{
  margin-top:20%;
  color: #49C7D1;
  .headerpanel{
    border: none;
    background-color: rgba(100, 100, 100, 0);
  }
}

.bup{
  position: fixed;
  right: 50px;
  bottom: 50px;
  z-index: 10000000;
}

.bfloat{
  width: 160px;
  top: 350px;
  right: 0px;
  z-index: 1000;
  position: fixed;
  img{
    width: 100%;
    border-radius: 100px;
  }
}

.title1{
  font-size: 50px;
  color: #49C7D1;
}
.text1{
  font-size: 20px;
  color: #82979C;
  line-height: 200%;
}
