<div class="bnavbar-left-edu">
    <div class="btn-group-vertical bbtn-group-edu" role="group">
      <button type="button" class="btn btn-default bbtn">
        <a href="#edugongsijianjie">公司简介</a>
      </button>
      <button type="button" class="btn btn-default bbtn">
        <a href="#eduguanyuwomen">关于我们</a>
      </button>
      <button type="button" class="btn btn-default bbtn">
        <a href="#eduyouxuexialingying">游学夏(冬)令营</a>
      </button>
      <button type="button" class="btn btn-default bbtn">
        <a href="#eduliuxuejisu">留学寄宿</a>
      </button>
      <button type="button" class="btn btn-default bbtn">
        <a href="#edujiaoyuwenhuajiaoliu">教育文化交流</a>
      </button>
      <button type="button" class="btn btn-default bbtn">
        <a href="#edulianxiwomen">联系我们</a>
      </button>
    
  </div>
</div>

