<%= render "header"%>
<%= render 'leftnav'%>
<%= image_tag "eduwelcome.png", :style=>'width: 100%;'%>
<div class="edufloat">
  <%= link_to jiangzuo_path do %>
    <%= image_tag "edufloating.png"%>
  <% end %>
</div>

<%= image_tag "edugongsijianjie.png", :style=>'width: 100%;'%>
<div class="edu-block" id="edugongsijianjie" style="font-size: 20px; background-color:#c7c6c3;">
  <p>茵莱桥文化服务有限责任公司（Enlite Bridge, LLC）位于美国加州著名海滨度假胜地圣地亚哥市。我公司旨在促进中美两国日益频繁和深入的教育和文化交流，目前承接<span style="font-size: 30px; font-style: italic; color: green; font-weight: bold;">私人订制旅游、游学留学教育、商务考察访问、医疗就诊接诊</span>等多项业务.</p>
</div>

<%= image_tag "eduguanyuwomen.png", :style=>'width: 100%;'%>
<div class="edu-block" id="eduguanyuwomen" style="background-color: #b3bca8;">
  <div style="text-align: left">
    <%= image_tag "huangyi.png", :style=>'float: left; margin-right: 10px; width: 200px;'%>
    <p style="font-size: 18px;">黄怡 | 总裁</p>
    <p style="font-size: 18px;">Daizy Huang | CEO/Founder</p>
    <p style="font-size: 18px;">美国加州茵莱桥文化服务有限公司总裁。北京交通大学毕业并留校任教，后赴美定居十余年，拥有美国加州州立大学会计学硕士学位，曾任全球第5大会计师事务所BDO资深审计师，现为美国执业注册会计师。黄女士育有两子，现与任职资深高级软件工程师的先生定居于美国加利福利亚州著名的海滨度假胜地圣地亚哥市.</p>
  </div>
  </br>
  </br>
  <div style="text-align: left">
    <%= image_tag "theodore.png", :style=>'float: right; margin-left: 10px; width: 180px; height: 264px;'%>
    <p style="font-size: 18px;">泰德 诺库纳斯 | 北美大区教育部总监 </p>
    <p style="font-size: 18px;">Theodore Norkunas | Managing Director，North American Education Division </p>
    <p style="font-size: 18px;">诺库纳斯先生曾任美国加州卡瓦瑞高级私立中学董事会主席、财务长及教师家长联席会主席，并兼任多所顶级公立、私立学校摔跤队及棒球队主教练，现任美国邮政局Cypress市局长。诺库纳斯先生出生及成长于美国加州，两个女儿先后毕业于加州顶级私立大学并已各自组建幸福的家庭。他本人对于中美两国的教育问题有着浓厚的兴趣，十几年来一直致力于推广两国在教育界的合作与交流。</p>
  </div>
  </br>
  </br>
  <div style="text-align: left">
    <%= image_tag "kim.png", :style=>'float: left; margin-right: 10px; width: 180px; height: 264px;'%>
    <p style="font-size: 18px;">蒂芬妮 金 | 北美大区教育部项目顾问</p>
    <p style="font-size: 18px;">Tiffany Kim | Program Advisor, North American Education Division </p>
    <p style="font-size: 18px;">蒂芬妮小姐毕业于加州州立大学长滩分校国际关系专业。她曾在中国北京的中国国际广播电台实习，负责中国文化活动的报道及协助制订了各年级中国学生英文学习的课程。这段经历让她接触到了中国的文化以及各阶层的人物。蒂芬妮喜欢接触外国音乐与电影了解和学习外国的语言和文化，并通过线上课程
与视频与全世界各国的朋友认识和交流。她能流利地使用英语、西班牙语和柬埔寨语三
种语言。蒂芬妮小姐认为学习外语的最佳方法应该是通过营造趣味的学习氛围，创造符
合个人需求的简单、有效的学习方法，进而激发个人对语言学习的热爱。</p>
  </div>
</div>

<%= image_tag "eduyouxuexialingying.png", :style=>'width: 100%;'%>
<div class="edu-block" id="eduyouxuexialingying" style="font-size:20px;  background-color: #a8b697;">
  <p>茵莱桥秉承私人定制服务的特色，贴心地为您和您的孩子）量身打造一整套符合个人需要的游学方案。请参考以下的游学夏（冬）令营范例，具体详情联系我们咨询。</p>
  <%= link_to "爸妈去哪儿阳光亲子冬令营", download_path(:file=>'public/donglingying.pdf'), :style=>'color:green; font-size: 25px; font-style:italic;'%>
  </br>
  <%= link_to "阳光加州美西夏令营游学团", download_path(:file=>'public/xialingying.pdf'), :style=>'color:green; font-size: 25px; font-style:italic;'%>
  <p>我们还有其他丰富多彩的各类夏令营，您可以从中选择一个或多个类型后与我们联系，我们将在了解您的具体需求后为您私人定制专属于您孩子的游学计划：</p>
  <h4>1. ESL英文补习夏令营</h4></h4>   2. 综合户外运动夏令营</h4>
  <h4>3. 体育运动夏令营 </h4></h4>  4. 乐高或机器人夏令营</h4>
  <h4>5. 主题公园夏令营 </h4></h4>  6. 科技夏令营</h4>
  <h4>7. 艺术夏令营   </h4></h4>  8. 亲子夏令营</h4>
</div>

<%= image_tag "eduliuxuejisu.png", :style=>'width: 100%;'%>
<div class="edu-block" id="eduliuxuejisu" style="font-size:20px; background-color: #93ac7c;">
  <p>茵莱桥为您提供<span style="font-size: 24px; color: #43ED49">高品质、一条龙</span>留学服务。不靠天花
  乱坠的宣传和语意含糊的合同绑架您的意愿。<span style="font-size: 24px; color: #43ED49">专业与诚信</span>
  是我们提供以下服务时始终坚持的标准： </p>
  <p>1.根据您孩子的特点进行英语能力、学业水平、文体特长等方面的专业评估；</p>
  <p>2.结合我们掌握的丰富的美国教育资源与信息，为您的孩
  子量身定制一套切实可行、着眼于长期终极目标的学习
  计划；</p>
  <p>3.指导协助您的孩子选择、准备和报考心仪的学校；</p>
  <p>4.配备专业的一对一导师，从语言环境、学习环境、生活
  环境全方位指导，帮助孩子迅速高效自信地融入美国学
  习生活；</p>
  <p>5.在确切了解您的要求和孩子个人情况的前提下为您搭配
  和推荐家庭背景、文化、风格最为适合的寄宿家庭 。</p>
  <p>6.在孩子入学后与学校、寄宿家庭、孩子和国内家长四方
  建立定期沟通和回访的机制，随时发现和解决孩子学习
  生活的需要和问题。</p>

  <br>
  <h3>
    <%= link_to "点击此处查看合作院校", root_path, :style=>'color: green' %>
  </h3>
</div>

<%= image_tag "edujiaoyuwenhuajiaoliu.png", :style=>'width: 100%;'%>
<div class="edu-block" id="edujiaoyuwenhuajiaoliu" style="font-size:20px; background-color: #8aa871;">
  <p>抱歉此版块暂无内容, 我们还在努力建设中.</p>
</div>

<div class="bup" style="text-align: center;">
  <span class="glyphicon glyphicon glyphicon-chevron-up" style="color:green; "aria-hidden="true"></span>
  <p style="color: green; font-size: 20px;">返回顶部</p>
</div>

<div id="edulianxiwomen">
  <%= image_tag "edufooter.png", :style=>'width: 100%;'%>
</div>