<%= image_tag "edujiangzuoheader.png", style: 'width: 100%' %>
<div class="school-block" style="padding: 50px 100px;">
  <p>“我的孩子做什么事情都是拖拖拉拉的，真急人！”“孩子上课总是不注意听讲或走神，写作业三心二意，

没有我陪着就写不完，怎么办啊？”“为了孩子我真的是什么办法都用尽了，每天生活的重心都是围着他

（她）转，可还是效果不好！究竟怎么才能当一个好家长啊？” 您是否也有过类似的想法和苦恼呢？让

我们打开思路，听一听美国教育专家从独特的角度对比与解析中美两国教育理念、体系和实践操作的不

同，了解在美国学校、家长与孩子三方的互动与合作方式，零距离学习美国学校和家长的成功经验总结

与建议。</p>
</div>


<%= image_tag "edujiangzuozhujiangren.png", style: 'width: 100%' %>
<div class="school-block" style="padding: 50px 100px;">
  <p>诺库纳斯●泰德，男，美国加州茵莱桥文化服务有限公司北美大区教育部总监。曾任美国加州卡瓦

瑞高级私立中学董事会主席、财务长及教师家长联席会主席，并兼任多所顶级公立、私立学校摔跤队及

棒球队主教练，现任美国邮政局Cypress市局长。诺库纳斯先生出生及成长于美国加州，两个女儿先后

毕业于加州顶级私立大学并已各自组建幸福的家庭。他本人对于中美两国的教育问题有着浓厚的兴趣，

十几年来一直致力于推广两国在教育界的合作与交流。</p><br>

<p>黄怡，女，美国加州茵莱桥文化服务有限公司总裁。北京交通大学毕业并留校任教，后赴美定居十

余年，拥有美国加州州立大学会计学硕士学位，曾任全球第5大会计师事务所BDO资深审计师，现为美

国执业注册会计师。黄女士育有两子，就读于美国加州顶级公立学校及蒙特梭利私立学校，她在工作与

生活中有机会接触了大量中美教育界人士、学校、家长及孩子们，结合自己对于中美两国的高等教育的

亲身体验，对于中美教育的现状与对比深有体会并愿意与大家分享交流。</p>
</div>

<%= image_tag 'edufooter.png', style: 'width: 100%'%>