<div class="row bbbrow">

  <div class="col-xs-5 col-xs-offset-1 bbbblock">

    <%= image_tag "hao.jpg", :class=>'bbbimage'%>

    <h2 class="bbbtitle">好莱坞星光大道、中国剧院</h2>

    <h4 class="bbbtitle" style="margin-top:-10px">(Hollywood Walk of Fame & Chinese Theater)</h4>

<p class="bbbtext">这里是一条沿着美国好莱坞大道与藤街伸展的人行道 ，有2000多颗镶有好莱坞商

会追敬名人姓名的星形奖章，以纪念他们对娱乐业的贡献。中国剧院位于星光大道上，它建于1927年

，是美国最著名的影院，它也是上映影片首映礼的首选之地，门前的地上则是印有明星手印的星光大

道。</p> 

  </div>

  <div class="col-xs-5 col-xs-offset-1 bbbblock">

    <%= image_tag "huan.jpg", :class=>'bbbimage'%>

    <h2 class="bbbtitle">环球影视城</h2>

    <h4 class="bbbtitle" style="margin-top:-10px">(Universal Studios)</h4>

<p class="bbbtext">好莱坞环球影城被称为“洛杉矶的娱乐之都”，是唯一一个集电影、电视拍摄片

场为一体的主题公园，为观众展现了一个真实的电影制片厂，影城内丰富的电影文化资源让游客们流

连忘返。</p> 

  </div>

</div>

<div class="row bbbrow">

  <div class="col-xs-5 col-xs-offset-1 bbbblock">

    <%= image_tag "du.jpg", :class=>'bbbimage'%>

    <h2 class="bbbtitle">杜比剧院</h2>

    <h4 class="bbbtitle" style="margin-top:-10px">(Dolby Theater)</h4>

<p class="bbbtext">杜比剧院，原名柯达剧院，位于好莱坞的好莱坞大道上，紧邻中国剧院。剧院

2001年11月启用，是奥斯卡金像奖颁奖礼的永久举办地。</p> 

  </div>

  <div class="col-xs-5 col-xs-offset-1 bbbblock">

    <%= image_tag "bi.jpg", :class=>'bbbimage'%>

    <h2 class="bbbtitle">比弗利山庄</h2>

    <h4 class="bbbtitle" style="margin-top:-10px">(Beverly Hills)</h4>

<p class="bbbtext">有“全世界最尊贵住宅区”称号，是洛杉矶市内最有名的城中城，每年吸引无数

来自世界各地的观光客，好奇地在大街小巷探索。</p> 

  </div>

</div>

<div class="row bbbrow">

  <div class="col-xs-5 col-xs-offset-1 bbbblock">

    <%= image_tag "luo.jpg", :class=>'bbbimage'%>

    <h2 class="bbbtitle">罗迪欧大道</h2>

    <h4 class="bbbtitle" style="margin-top:-10px">(Rodeo Drive)</h4>

<p class="bbbtext">被世界各家名牌精品店环绕的罗德尔街位于比弗利山庄，包含了所有南加州最名

贵的店家。这里的名言是：“买东西不要问价钱，问了就表示你买不起。” </p> 

  </div>

  <div class="col-xs-5 col-xs-offset-1 bbbblock">

    <%= image_tag "gai.jpg", :class=>'bbbimage'%>

    <h2 class="bbbtitle">盖蒂中心</h2>

    <h4 class="bbbtitle" style="margin-top:-10px">(Getty Center)</h4>

<p class="bbbtext">鸟瞰洛杉矶全景的盖蒂中心收藏有世界著名绘画大师梵高、安格尔、拉维尔德等

的作品，不仅仅以其丰富的馆藏闻名，更值得一提的是其独特的建筑风格，为全球建筑设计师膜拜之

处。</p> 

  </div>

</div>

<div class="row bbbrow">

  <div class="col-xs-5 col-xs-offset-1 bbbblock">

    <%= image_tag "ge.jpg", :class=>'bbbimage'%>

    <h2 class="bbbtitle">格瑞菲斯天文台</h2>

    <h4 class="bbbtitle" style="margin-top:-10px">(Griffiths Observatory)</h4>

<p class="bbbtext">格瑞菲斯天文台是洛杉矶著名地标之一，这座造型独特的建筑物，曾经出现在许

多的电影与电视影集场景中。入夜以后，在这里看大洛杉矶地区，可看到一片灿烂灯海，情调浪漫迷

人。</p> 

  </div>

  <div class="col-xs-5 col-xs-offset-1 bbbblock">

    <%= image_tag "hang.jpg", :class=>'bbbimage'%>

    <h2 class="bbbtitle">杭廷顿图书馆</h2>

    <h4 class="bbbtitle" style="margin-top:-10px">(Huntington Library)</h4>

<p class="bbbtext">杭廷顿图书馆占地120英亩,原为美国铁路大亨Henry Edwards Huntington 

(1850-1927) 的私人住宅,杭廷顿图书馆除了展出Huntington本人在图书,瓷器,雕刻,名画和各艺术品

方面的收藏，还拥有植物花园和大大小小不下十個主題花园。</p> 

  </div>

</div>

<div class="row bbbrow">

  <div class="col-xs-5 col-xs-offset-1 bbbblock">

    <%= image_tag "sheng.jpg", :class=>'bbbimage'%>

    <h2 class="bbbtitle">圣塔莫妮卡海滩</h2>

    <h4 class="bbbtitle" style="margin-top:-10px">(Santa Monica Beach)</h4>

<p class="bbbtext">圣塔莫妮卡是洛杉矶最著名的海滩之一，拥有洛杉矶最著名的码头嘉年华，包括

过山车、海盗船、空中悬挂等等游艺项目。</p> 

  </div>

  <div class="col-xs-5 col-xs-offset-1 bbbblock">

    <%= image_tag "NBA.jpg", :class=>'bbbimage'%>

    <h2 class="bbbtitle"> NBA篮球赛：洛杉矶湖人队</h2>

    <h4 class="bbbtitle" style="margin-top:-10px">(NBA LA Lakers Game)</h4>

<p class="bbbtext">洛杉矶湖人的主场为洛杉矶市中心的斯台普斯球场，是拥有悠久而辉煌的历史的

NBA职业篮球队, 11次获得NBA总冠军，至今合共夺得16次总冠军。目前旗下最著名的球星是科比。布莱

恩特。</p> 

  </div>

</div>

<div class="row bbbrow">

  <div class="col-xs-5 col-xs-offset-1 bbbblock">

    <%= image_tag "UCLA.jpg", :class=>'bbbimage'%>

    <h2 class="bbbtitle"> UCLA校园</h2>

    <h4 class="bbbtitle" style="margin-top:-10px">(University of California, Los Angeles)</h4>

    <p class="bbbtext">加利福尼亚大学洛杉矶分校（简称UCLA）是美国最顶尖的综合性公立大学之一

。UCLA是美国商业金融、高科技产业、电影艺术等专业人才的摇篮，是美国申请就读人数最多的大学

。它和加州大学伯克利分校（UC Berkeley）齐名，常年稳居泰晤士报全球大学排行榜前十五名。</p> 

  </div>

</div>